# -*- coding: utf-8 -*-
"""
Created on Sat Aug 27 15:23:07 2022

@author: maggi
"""

/* roboto-condensed-300 - latin 
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
 /* src: url('../fonts/roboto-condensed-v25-latin-300.eot'); /* IE9 Compat Modes 
  src: local(''),
      /* url('../fonts/roboto-condensed-v25-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 
       url('../fonts/roboto-condensed-v25-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
      /* url('../fonts/roboto-condensed-v25-latin-300.woff') format('woff'), /* Modern Browsers */
     /*  url('../fonts/roboto-condensed-v25-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
      /* url('../fonts/roboto-condensed-v25-latin-300.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}
/* roboto-condensed-regular - latin */
@font-face {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
   font-display: swap;
  src: url('fonts/roboto-condensed-v25-latin-regular.eot'); /* IE9 Compat Modes */
   
     
    src:    url('fonts/roboto-condensed-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
   src:     url('fonts/roboto-condensed-v25-latin-regular.woff') format('woff'), /* Modern Browsers */   }
    src:    url('fonts/roboto-condensed-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    src:    url('fonts/roboto-condensed-v25-latin-regular.svg#RobotoCondensed') format('svg'); /* Legacy iOS 
}
/* roboto-condensed-700 - latin 
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  /*src: url('../fonts/roboto-condensed-v25-latin-700.eot'); /* IE9 Compat Modes 
  src: local(''),
       /*url('../fonts/roboto-condensed-v25-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 
       url('../fonts/roboto-condensed-v25-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
      /* url('../fonts/roboto-condensed-v25-latin-700.woff') format('woff'), /* Modern Browsers */
      /* url('../fonts/roboto-condensed-v25-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
      /* url('../fonts/roboto-condensed-v25-latin-700.svg#RobotoCondensed') format('svg'); /* Legacy iOS 
}*/